#encabezado {text-align: right; color: crimson; font-family: oswald; background-color: aquamarine; background-image: url(https://c8.alamy.com/compes/2cw83j5/colores-gris-claro-hojas-de-oro-gris-fondo-elegante-2cw83j5.jpg)

}

#cabecera {text-align: left; font-family: oswald; background-color: antiquewhite
    ;
}

#titulo1 {text-align: left; color: blue; font-size: x-large; font-weight: bold; font-family: oswald;}

#texto1 {text-align: justify; font-family: oswald; font-style: italic
    ;

}

#titulo2 {font-family: oswald; font-size: xx-large ; 

}

#texto3 {font-family: oswald; font-style: italic; background-image: url(https://c8.alamy.com/compes/2cw83j5/colores-gris-claro-hojas-de-oro-gris-fondo-elegante-2cw83j5.jpg)

}

#fechas {; font-family: oswald; color: blueviolet; background-image: url(https://c8.alamy.com/compes/2cw83j5/colores-gris-claro-hojas-de-oro-gris-fondo-elegante-2cw83j5.jpg);

}

#texto4 { font-family: oswald; font-style: italic;}
#texto5 { font-family: oswald; font-style: italic;}

#texto6 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: rgb(255, 0, 0); font-size: x-large;}

#texto7 {font-family: oswald; font-style: italic;}

